<!--COMP229-w2021-TeamProject server/views/partials/footer.ejs; Dominators; 19Mar2021 -->

<!-- Script Section -->
  <script src="/jquery/dist/jquery.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="/Scripts/app.js"></script>
</body>
</html>