  <!--/*
  --COMP229-w2021-TeamProject server/views/partials/welcome_title.ejs;
  --Group Name:  Dominators 
  --Date Created: 02, April, 2021 
  --Student Name: Ho Yin Lai - 301162000
  --Student Name: Laxman Gothe - 301102988
  --Student Name: Sissi Kan - 301170042
  --Student Name: Arpit Kamal - 301152116
  --Student Name: Janesha Sharma - 301093302
  */ -->

<!-- Welcome Title For each page -->
<main class="container">
  <div class="jumbotron">
    <h1 class="display-6">Welcome to the <%= title %> page</h1>

  </div>
</main>

