<!--COMP229-w2021-TeamProject server/views/partials/welcome_title.ejs; Dominators; 19Mar2021  -->

<!-- Welcome Title For each page -->
<main class="container">
  <div class="jumbotron">
    <h1 class="display-6">Welcome to the <%= title %> page</h1>

  </div>
</main>

